@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.fart {
    font-family: montserrat, sans-serif;
    text-align: center;
}
h1.fart {
    font-family: montserrat, sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}
.touchless {
    text-decoration: underline;
}
